body {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}

/*----------------------  filter: blur(5px);-----------------End Navbar    */

/*---------------------------------------- Begin AboutUs intro    */
.about-us {
    padding: 200px;
    background-color: darkgrey;
    background-image: url("/images/windesheim.png");
    background-size: cover;



}