body {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}

.contact {
    padding: 150px;
    text-align: center;
    background-color: darkgrey;
    background-image: url("/images/callcenter.jpeg");
    background-size: cover;



}