/* Body */
.body{
    margin:0;
    padding:0;
    background-color: seashell;
}

/* Homescreen (rename to something that makes more sense) */
#homescreen{
    position: relative;
    width: 100%;
}

#homescreen .btn{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    background-color: #DB403D;
    color: white;
    font-size: 16px;
    padding: 6px 12px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    text-align: center;
}

#homescreen a{
    color: white;
    text-decoration: none; /* no underline */
}

#homescreen picture img{
    width: 100%;
    height: auto;
}

/* Search Bar (Placeholder) will be replaced with a PHP Required SearchBar  */
#searchbar {
    background-color: seashell;
}


#searchbar button{
    background-color: white;
    border-color: green;
    color: green;
}

/* ------- Cards ---------- */
/* Card General */
.card{
    border-top-left-radius: 0em;
    border-top-right-radius: 1em;
    border-bottom-left-radius: 1em;
    border-bottom-right-radius: 1em;
    text-align: center;
    box-shadow: 0 5px 10px rgba(0,0,0,.2);
}

.card img{
    border-top-right-radius: 1em;
    text-align: center;
    box-shadow: 0 5px 10px rgba(0,0,0,.2);
}

/* Card Title */
.card-title{
    font-size: 14px;
}

/* Card Body */
.card-body{
    font-size: 12px;
    border-bottom-left-radius: 1em;
    border-bottom-right-radius: 1em;
    text-align: left;
    box-shadow: 0 5px 10px rgba(0,0,0,.2);
    padding: 6px;
}
/* ------- Rows ---------- */
/* Two in a row */
.red_in_row {
    background-color: #DB403D;

}

/* Four in a row */
.four_in_row{
    background-color: seashell;
}


.four_in_row p{
    margin: 0;
}

.small_promo{
    background-color: seashell;
}

#normalhead h2
{
    background-color: seashell;
    margin: 0;
    padding: 0;
}

#redhead h2{
    background-color: #DB403D;
    color: white;
    margin: 0;
    padding: 0;
}


/* Mobile */
@media only screen and (max-width: 767px) {

    /* Small Promo */
    .small_promo p {
        font-size: 12px;
    }

    /* Big Promo */
    .big_promo {
        background-color: #E67666;
        margin: 0;
        background: linear-gradient(to top right, #DB403D 30%, seashell 30%);
    }

    .big_promo img {
        border-radius: 10px;
        border: 5px solid #DB403D;
    }

    .big_promo p {
        font-size: 14px;
    }

}

/* Desktop */
@media only screen and (min-width: 767px) {

    /* ----- Small Promo -----  */
    .small_promo p {
        font-size: 28px;
    }


    /* ----- Big Promo ----- */
    .big_promo {
        background-color: #E67666;
        margin: 0;
        background: linear-gradient(to top right, #DB403D 30%, seashell 30%);
    }

    .big_promo img {
        border-radius: 10px;
        border: 5px solid #DB403D;
    }

    .big_promo p {
        font-size: 28px;
    }

    .big_promo b {
        font-size: 36px;
    }

}