

/*---------------------------------------- Begin AboutUs intro    */
.Home {
    padding: 300px;
    text-align: center;
    background-color: darkgrey;
    background-image: url("/images/huisstijl/flevo.jpg");
    background-size: cover;


}

/*--------------------------------------------- End AboutUs intro    */

.welkom{
    background-image: url("/images/huisstijl/home-350px.jpg");

}
.welkom1{
    background-image: url("/images/huisstijl/home-350px.jpg");


}

.hero-image{
    background-image: url("/images/huisstijl/home-350px.jpg");

}
.hero-image {
    background-image: url("/images/huisstijl/home-350px.jpg");
    height: 50%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}

.hero-text {
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #000000;
}

.hero-text button {
    border: none;
    outline: 0;
    display: inline-block;
    padding: 10px 25px;
    color: #ffffff;
    background-color: #d02121;
    text-align: center;
    cursor: pointer;
}

.hero-text button:hover {
    background-color: #555;
    color: white;
}