
    .alert {
        background-color: #f44336;
        color: white;
        opacity: 1;
        transition: opacity 0.6s;
        margin: 0;
    }

    .alert.warning {background-color: #ff9933;}

    .closebtn {
        margin-left: 15px;
        color: white;
        font-weight: bold;
        float: right;
        font-size: 22px;
        line-height: 20px;
        cursor: pointer;
        transition: 0.3s;
    }

    .closebtn:hover {
        color: black;
    }
